// main: style.scss

$theme: (
    background: #e2e436,
    borders: #e1e5eb,
    light: #fff,
    section: #52627b
);

$layout: (
    navbar: 3.5rem,
    rootSize: 14px,
    sidebar: 15rem
);

$nav: (
    active: #007bff ,
    icon: #caceda ,
    text: #3d5170
);
